<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity android:name=".ProactiveOutboundNotificationClickActivity"
            android:launchMode="singleTop"
            android:exported="false" />

        <activity android:name=".ProactiveOutboundDeeplinkHandlerActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="helpshiftexample" android:host="helpshift.com" />
            </intent-filter>
        </activity>

    </application>
</manifest>